<?xml version="1.0"?>
<config>
    <modules>
        <Shopgo_CmsAssistant>
            <version>1.0.0</version>
        </Shopgo_CmsAssistant>
    </modules>
    <global>
        <blocks>
            <cmsassistant>
                <class>Shopgo_CmsAssistant_Block</class>
            </cmsassistant>
        </blocks>
        <helpers>
            <cmsassistant>
                <class>Shopgo_CmsAssistant_Helper</class>
            </cmsassistant>
        </helpers>
        <models>
            <cmsassistant>
                <class>Shopgo_CmsAssistant_Model</class>
            </cmsassistant>
        </models>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <cms_assistant_core_block_abstract_observer>
                        <type>singleton</type>
                        <class>Shopgo_CmsAssistant_Block_Assistant</class>
                        <method>coreBlockAbstractToHtmlAfter</method>
                    </cms_assistant_core_block_abstract_observer>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <cmsassistant>
                    <file>shopgo/cms_assistant.xml</file>
                </cmsassistant>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <cmsassistant>
                <use>admin</use>
                <args>
                    <module>Shopgo_CmsAssistant</module>
                    <frontName>shopgo</frontName>
                </args>
            </cmsassistant>
        </routers>
    </admin>
    <default>
        <shopgo_cmsassistant>
            <assistants>
                <block>1</block>
                <page>1</page>
                <shopgo_bannerslider>1</shopgo_bannerslider>
            </assistants>
        </shopgo_cmsassistant>
    </default>
</config>
